* {
    box-sizing: border-box;
    text-align: center;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    width: 960px;
    margin: 0 auto;
    margin-top: 10px;
    background: #777;
    color: #777;
   
}

header { 
    margin-bottom: 10px;
    padding: 30px;
    background-color: #ebebeb;
    
}

nav {
    margin-bottom: 10px;
    padding: 30px;
    background-color: #ebebeb;
}
    

section {
    float: left;
    position: relative;
    padding: 40px;
    height: 280px;
    width: 495px;
    background: #ebebeb;
    margin-left: 0px;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-right: 10px;
}

#aside {
    width: 445px;
    padding: 40px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: -10px;
    margin-right: 0px;
    background: #ebebeb;
}

footer {
    clear: left;
    padding: 30px;
    background: #ebebeb;
    
}

article {
    position: absolute;
    bottom: 10px;
    background: #777;
    color: #ebebeb;
    width: 475px;
    padding: 20px;
    left: 10px;
   

}

#h1 {
    width: 435px;
    color: #777;
    padding: 10px;
    margin-top: 20px;
   
}

#p {
    background: #ebebeb;
    padding: 10px;
    width: 435px;
    margin-bottom: 0px;
    color: #777;

}
